@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>base</title>
</head>
<body>

    <h1> Exception-base</h1>
    @Model.Target
    <br />
      @Model.Message
</body>
</html>
