<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IUtilsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Service/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="GitService.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost/Service/UtilsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilsService"
                contract="UtilsService.IUtilsService" name="BasicHttpBinding_IUtilsService" />
        </client>
    </system.serviceModel>
</configuration>