@{
    ViewBag.Title = "Index";
    Layout = Url.Content("~/Views/Template/content.cshtml");
}



@section content{
    <div class="page-header">
        <h2>Demo-Index</h2>
    </div>
<div class="alert alert-danger" role="alert">..</div>
}