@{
    ViewBag.Title = "Index";
    Layout = Url.Content("~/Views/Template/base.cshtml");
}

@section title{
    Lab
}

@section script{
    <style>
        .chat-body {
            overflow-y: scroll;
            height: 555px;
            padding: 0;
        }

        .msg-content {
            margin-top: 14px;
            padding: 8px;
            padding-bottom: 4px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            word-wrap:break-word;
        }

        .msg-wrap {
            margin-top: 0;
            margin-bottom: 8px;
            padding: 10px;
        }

        .msg-head {
            z-index: 100;
        }

        .padding10 {
            padding: 10px;
        }

        .list-table {
            margin-top: -1px;
            margin-bottom: 0;
        }
        a:hover {
        
        }
    </style>
    <script>
    function pageInit() {
        $.post('SignalRScript', null, function (data) {

            $('#container').append(data);


            var chat = $.connection.chathub;

            //分发消息
            chat.client.broadcastMessage = function (name, message) {

                $('#message').append("<div class='clearfix msg-wrap'><div class='msg-head'>"
                    + "<span class='label label-primary pull-left'><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;" + name + "</span>"
                    + "<span class='label label-default pull-left'><span class='glyphicon glyphicon-time'></span>&nbsp;&nbsp;@DateTime.Now</span></div>"
                    + "<div class='msg-content'>" + message + "</div>"
                + "</div></div>");


            };

            //user
            chat.client.broadcastUserMessage = function (name, message) {

                $('#message').append("<div class='clearfix msg-wrap'><div class='msg-head'>"
                    + "<span class='label label-primary pull-left'><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;" + name + "</span>"
                    + "<span class='label label-default pull-left'><span class='glyphicon glyphicon-time'></span>&nbsp;&nbsp;@DateTime.Now</span></div>"
                    + "<div class='msg-content'>1111111" + message + "</div>"
                + "</div></div>");


            };


            chat.client.addList = function (connectionId, name) {
                var li = "<li id='" + connectionId + "'><a>" + name + "</a></li>";
                $("#accounts").append(li);
                $("#list-count").html(parseInt($("#list-count").html()) + 1);
            }

            chat.client.removeList = function (connectionId) {
                $("#" + connectionId).remove();
                $("#list-count").html(parseInt($("#list-count").html()) - 1);
            }

            chat.client.getList = function (userList) {
                var li = "";
                $.each(userList, function (index, data) {
                    li += "<li id='" + data.id + "'><a>" + data.name + "</a></li>";
                });
                $("#accounts").html(li);
                $("#list-count").html(userList.length);
            }

            //发送消息
            $.connection.hub.start().done(function () {

                chat.server.userConnected('@(Session["User"])');

                $('#sendmessage').click(function () {

                    var user = '@(Session["User"])';
                    if (user == null || user == "") {
                        alertInfo("#container","Send error,please login first.")                   
                        return;
                    }

                    chat.server.sendAll($('#msg').val());

                    //chat.server.sendUser([chat.connection.id], $('#msg').val());
                    $('#msg').val('').focus();
                   
                });

            });



        }, 'html');
    }
</script>
@*<script src="~/Js/utility/jquery.min.js"></script>*@
}


@section body{
    <div class="container padding10" id="container">
        <div class="row container">
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span><span>&nbsp; We Chat</span></div>
                    <div class="panel-body chat-body" id="message">
                        <div class="clearfix msg-wrap">
                            <div class="msg-head">
                                <span class="label label-primary pull-left"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;System Info</span>
                                <span class="label label-default pull-left"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;@DateTime.Now</span>
                            </div>
                            <div class="msg-content" id="mc">
                                Message Content
                            </div>
                        </div>


                    </div>

                    @* Input Message*@
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="emotion-btn" type="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" id="msg" placeholder="Write your message">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="sendmessage">
                                Send
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span>
                        &nbsp;Online Members
                    </div>

                    <ul class="nav nav-pills nav-stacked" id="accounts">
                        @*<li class=""><a>123</a></li>*@
                    </ul>

                    <div class="panel-footer">Online Number：<span id="list-count">0</span>人</div>
                </div>
            </div>
        </div>
    </div>

}
