<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="unique_login" value="false" />
    <add key="db_log" value="false" />
    <!-- session timeout value in second -->
    <add key="session_timeout" value="13500" />
    <!--
    <add key="login_fail_lock_count" value="3"/>
    -->
	  <add key="password_encryptor" value="EgoalTech.UserAccessManage.SimplePasswordEncryptor,EgoalTech.UserAccessManage"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
	  <add name="dbConnectionString" connectionString="Data Source=SERVER12;Initial Catalog=fund_trunk;Default Schema=dbo;User Persist Security Info=True;User ID=sa;Password=sa;Provider = SQLOLEDB;" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="EgoalTech.UserManageService.UserAccessControl">
        <endpoint address="" binding="customBinding" bindingConfiguration="SslCustomBinding"
            contract="EgoalTech.UserManageService.UserAccessControl" />
        <!--
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        -->
        <!--
        <endpoint address="json" binding="webHttpBinding" bindingConfiguration="webBinding" behaviorConfiguration="jsonBehavior" contract="EgoalTech.UserManageService.UserAccessControl"/>
        -->
      </service>
      <service name="EgoalTech.UserManageService.UserManage">
        <endpoint address="" binding="customBinding" bindingConfiguration="SslCustomBinding"
            contract="EgoalTech.UserManageService.UserManage" />
        <!--
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        -->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="SslCustomBinding">
          <binaryMessageEncoding/>
          <httpTransport/>
          <!--<httpsTransport/>-->
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="2" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
